/* RETIRA TODAS AS MEDIDAS AUTOMATICAS QUE SE VEM NA PÁGINA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CONFIGURAÇÕES DO HEADER */
header {
    /*position: fixed;*/
    left: 0px;
    top: 0%;
    width: 100%;
    height: 90px;
    padding: 9px 0px;
    text-align: center;
    background: #bea8a8;
}
/* CONFIGURAÇÕES DO HEADER NA LISTA NAS TAG "li"*/
header li{
    display: inline-block;
    margin: 0 10px;
}
/* CONFIGURAÇÕES DO HEADER NA LISTA EM CADA TAG "a" */
header a {
    text-decoration: none;
    color: rgb(12, 11, 11);

}
/* CONFIGURAÇÕES DA LOGO */
 .logo {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;        
        
}
/* CONFIGURAÇÕES DA LOGO DA TAG "img"*/
.logo img {
      
        height: 60px ;
        width: 60px;
        float: left;        
        padding: 0px px;
}
.menu ul{
    position: relative;
    background: #bea8a8;
    margin: 0px;
    padding: 0px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    color: #050505;
    padding: 15px;
    display: block;
}
.menu ul li :hover{
    color: #bb6e6e;

}
.menu ul ul{
    position: absolute;
    min-width: 200px;
    display: none;
    
}
.menu ul ul li{
    display: block;
    background: #bea8a8;
}
.menu ul li:hover ul{
    display: block;
}

.modalidades {
    display: inline-flex;
    
}
.modalidades a img{
    border-radius: 100px 150px;
    height: 250px ;
    width: 250px;        
    padding: 1px 1px;
}


/*INÍCIO CARROSSEL*/
.container{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#carrossel{
    width: 100%;
    max-width: 1920px;
    max-height: 150px;
    position: relative;
}

#carrossel img{
    opacity: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}

#carrossel img.selected{
    opacity: 1;
}
/*FIM DO CARROSSEL*/

/*INÍCIO CONTEÚDOS ADICIONAIS*/
div.box{    
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin-top: 40%;
}

.img-1.img-2.img-3{
    width: 100%;
    height: auto;
}

.conteudo-1{
    padding: 0px 0px 0px 250px;
    display: inline;
}

.conteudo-2{
    float: left;
    padding: 0px 0px 0px 250px;
}

.conteudo-3{
    float: left;
    padding: 0px 0px 0px 250px;
}
/*FIM CONTEÚDOS ADICIONAIS*/


/*footer*/

footer {
    margin: 1200px 0px 0px 0px;
    background-color: #bea8a8;
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 5px solid #bea8a8;
    position: absolute;
}

footer h2 {
    color: #866565;
}
footer a {
    color:#866565;
}
footer p {
    color: #866565;
}
footer span {
    color: #866565;
}
footer h2 {
    font-weight: 400;
}
footer a {
    text-decoration: none;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
}
.footer-box {
    width: 31%;
    padding: 1%;
    float:left;
}
.footer .wrapper:after {
    clear:both;
    content: "";
    display: block;
}
.wrapper{
    width: 100%;
}
.company-footer {
    width: 80%;
}
.slogan{
    width: 20%;
}
.company-footer h2 {
    margin-top: 20px;
}
.company-footer h2 {
    margin-bottom: 20px;
}
.company-footer p {
    margin-bottom:20px;
}
.footer-list li {
    margin-bottom: 15px;
}
.footer-list a {
    transition: .5s;
}
.footer-list a:hover {
    color:#fff;
}
.footer-list li:after {
    clear: both;
    content: "";
    display: block;
}
.article-footer {
    width: 40%;
}
.articles-list.footer-articles-list span {
    display:block;
    float: none;
}
.fab {
    font-size: 30px;
    margin-right: 10px;
    float: left;
}
.footer-list li span {
    float:left;
    height: 30px;
    line-height: 30px;
}
.footer-bottom {
    border-top: 1px solid #413a3a;
}
.footer-bottom p {
    font-weight: 600;
    margin-top: 200px;
    margin-bottom: -50 ;
    margin-left: 50%;
}
.top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
     
   cursor: pointer;
   align-items: center;
   justify-content: center;
   margin: 0 3em 3em 0;
   border-radius: 50%;
   padding: .25em;
   width: 80px;
   height: 80px;
   background-color: #F8F8F8;
}

